{% extends "layout.html" %}

{% block title %}
    Home
{% endblock title %}

{% block content %}
    <h1>Home</h1>
    <p style="text-align: left; padding: 30px">O site criado é um blog. No header, o usuário pode ver uma navbar levando à 5 páginas:
        Home: Página preenchida com uma breve descrição do site.
        Posts: Página que lista todos os posts criados no site. Eles aparecem como cards com um título, o texto do post, o autor e a data de criação. Nessa página, se o usuário clicar em um post, ele irá para o detalhamento do post, onde é mostrada também a imagem do post e os comentários.
        Categories: Lista de categorias de post. Ao clicar em uma categoria, abre a página que lista os posts que pertencem à essa categoria.
        As duas páginas seguintes aparecem apenas para usuários não cadastrados:
        Login: Formulário de Login.
        Register: Formulário de criação de usuário.
        Seguem as páginas no navbar que só aparecem para usuários cadastrados:
        New Post: Página com formulário de criação de post.
        Logout: Descadastra a conta do usuário.
            Além dessas funcionalidades básicas, o usuário que criou um post pode, ao entrar no detalhamento do post, editar o post (título e texto) e deletar o post. Isso é feito clicando nos botões “Edit” e “Delete”, respectivamente. Além disso, qualquer usuário cadastrado pode clicar no botão “Comment” e criar um comentário ao post, que será adicionado ao topo da lista de comentários.
        </p>
{% endblock content %}