<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block title %}
            Django App
        {% endblock %}
    </title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <script src="{% static 'js/main.js' %}" defer></script>
</head>
<body>
    <header>
    <h1>My Django App</h1>
        <nav>
            <a href="/">Home</a>
            <a href="{% url 'posts:post-new' %}">New Post</a>
            <a href="{% url 'posts:list' %}">Posts</a>
        </nav>
    </header>
    <main>
        {% block content %}
        {% endblock %}
    </main>
    <footer>
        <p>Copyright &copy;2024 Eduardo Leao</p>
    </footer>
    
</body>
</html>