<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block title %}
            Django App
        {% endblock %}
    </title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <script src="{% static 'js/main.js' %}" defer></script>
</head>
<body>
    <header>
    <h1>My Django App</h1>
        <nav>
            <a href="/">Home</a>
            <a href="{% url 'posts:list' %}">Posts</a>
            <a href="{% url 'posts:categories' %}">Categories</a>
            {% if user.is_authenticated %}
            <a href="{% url 'posts:post-new' %}">New Post</a>
            <form class="logout" action="{% url 'users:logout' %}" method="post">
                {% csrf_token %}
                <button class="logout_button" title="User Logout">Logout</button>
            </form>
            {% else %}
            <a href="{% url 'users:login' %}">Login</a>
            <a href="{% url 'users:register' %}">Register</a>
            {% endif %}
            
        </nav>
    </header>
    <main>
        {% block content %}
        {% endblock %}
    </main>
    <footer>
        <p>Copyright &copy;2024 Eduardo Leao</p>
    </footer>
    
</body>
</html>